@charset "UTF-8";
@media screen {
  .float{
    font-family: 'Shadows Into Light', cursive;
    background: none;
    color: white;
    height: 100px;
    width:  100px;

    position: relative;
    left:700px;
    top:200px;
    animation-name: float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  /*#bounce:hover {
    animation-name: bouncethat;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }*/
    @keyframes float {
      0% {bottom:50px;}
      50% {left:500px;}
      100% {top:100px;}
}
@media screen{
#monkey{
  height: 400px; width: 400px;
  background: url("../img/monkey.png");
  animation:monkey 1s steps(3) infinite;
  animation-play-state: running;
  margin:0 auto;
}
@keyframes monkey {
  100%{ background-position: 1200px;}

}
#monkey:hover{animation-play-state: running}
}
html, body{
  height: 100%;
}
body{
  background: black;
  color:gray;
}
h1,h4,a{
  margin:0;
  padding: 5px 5px;
  text-decoration: none;
  color: gray;
  font-family: 'Shadows Into Light', cursive;
}
h6{
  color: gray;
  margin-left: 17px;
  font-family: 'Inconsolata', monospace;
}
nav {
  overflow: hidden;
  color: gray;
  font-family: 'Open Sans Condensed', sans-serif;
}
nav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  text-align: center;

}
nav ul, li{
  display: block;
  float:left;
  color:gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a:link, nav a:visited{
  color: gray;
  text-decoration: none;
}
/*spin*/
#spin{
  position: relative;
  color:gray;
  border: none;
  width:580px;
  text-align:center;
  font-size:90px;
  line-height:100px;
  padding:0;
  margin:0 500px;
  cursor: pointer;

}
span{
     transform:rotate(-30deg);
     transition:all 3s;
     display: inline-block;
}

#spin:hover span{
  color:black;
  font-size:100px;
  line-height:55px;
  transform:rotate(90deg);
}
/* */
.wrapper{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Shadows Into Light', cursive;
  text-align: center;
  text-transform: uppercase;
  color: gray;
  animation: 400s credits linear infinite;
}
.lyrics{
  margin-bottom: 35px;
  font-size: 18px;
  font-family: 'Shadows Into Light', cursive;
}
.guitar{
  margin-bottom: 50px;
  font-size: 18px;
}
@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
#side{
  font-size: 50px;
  position: absolute;
  left:-1%;
  width: 400px;
  margin-right: 10px;
  cursor: pointer;
}
}
.box{
  margin:0 0 0 550px;
}
