@charset "UTF-8";
/* CSS Document */
/* Custom CSS for Mondrian Exercise - Lab 4
*/
body{
  background: #000;
  color: #F30;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: auto;
  padding-bottom:  20px;
}
.red {background-color: #F30;}
.black {background-color: #000;}
.white {background-color: #fff;}
.yellow {background-color: #ff0;}
.blue {background-color: #33f;}

.tall_115 {height:  115px;
          margin-top: 10px; }
.tall_60 {height: 60px;
          margin-top:  10px;}
.tall_120 { height: 120px;
          margin-top: 10px;}
.tall_310 {height: 210px;
          margin-top: 10px;}
.tall_430 {height: 430px;
          margin-top: 10px;}

}

h5{
  font-size:20px;
  padding: 10px 0;
  text-align: center;
}
p{
  overflow: hidden;
  padding: 8px 0;
  text-align: center;
}
