body{
margin: 0;
padding: 0;
width: 100%;
height: 10000px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+13,000000+13,1e5799+35,2989d8+49,2989d8+49,7db9e8+71,e5e5e5+100 */
background: linear-gradient(to bottom, #000000 13%,#000000 13%,#1e5799 35%,#2989d8 49%,#2989d8 49%,#7db9e8 71%,#e5e5e5 100%);

/*background: rgba(0,7,15,1);
background: linear-gradient(to bottom, rgba(0,7,15,1) 0%, rgba(0,7,15,0.99) 9%, rgba(11,75,117,0.96) 30%, rgba(224,224,83,0.91) 60%, rgba(235,189,7,0.89) 74%, rgba(245,219,125,0.87) 86%, rgba(207,245,255,0.85) 100%);*/
}
h1 {
font-family:"Arvo";
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
font-family:"Arvo";
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h3 {
font-family: Oswald;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
/*positioning*/
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
/*--Header section--*/
#header {
width: 100%;
height: 80px;
position: fixed;
margin-top: 30px;
}
#nav {
  position: fixed;
   width: 50px;
   float: right;
   margin:0 0 0 80%;
  }
#logo a {
   color: #fff;
   text-decoration: none;
   float: left;
   font-size: 30px;
   margin-top: 20px;
   color: #fff;
   font-family:"Wellfleet";
   font-weight: bold; }
#nav ul{
  list-style-type: none;
  margin: 0 auto;
}
#nav li{
  margin-top: 5px;
  float: right;
}

p{
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin:0 auto;
  background-color: transparent;

}
.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 50px;
text-align: center;
margin: 300px auto;
background-color: transparent;
}
/*--quotes--*/
 .author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
 .author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
 .quotes_container { width: 800px; margin: 0 auto;}
.stars{
 margin-left:300px;
 margin-top:100px;
 display: block;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
.stars1{
 margin-left:600px;
 display: block;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
.stars2{
 margin-left:600px;
 margin-top: 120px;
 display: block;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
.stars3{
 margin-left:300px;
 display: block;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
.stars4{
 margin-left:50px;
 margin-top:100px;
 display: block;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
.stars5{
 margin-left:1000px;
 display: block;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: #cca92c;
 cursor: pointer;
 box-shadow: 0 0 0 rgba(204,169,44, 0.4);
 animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  50% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
/* SLIDES*/
#slide1, #slide2{ width: 100%; }
#slide1{
background:url('../img/melusine.svg') 10% 0 no-repeat fixed;
color: #fff;
width: auto;
height: 300px;
margin: 0 auto;
padding: 200px 0 260px 0;
background-size: contain;
}
#slide2{
background-image: url('../img/water.svg');
background-position: top;
background-size: cover;
color: #fff;
height: 300px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#slide3{
background: url('../img/water_particles.svg') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-image: url('../img/coffee_spread.svg');
background-position: center;
background-size: cover;
color: #fff;
height: 300px;
padding: 200px 0;
}
#slide5{
background: url('../img/wcoffee_particles.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide6{
background: url('../img/coffee_particles.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide7{
background: url('../img/coffee.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide8{
background: url('../img/marshmallow.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide9{
background: url('../img/marshmallow_blue.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide10{
background: url('../img/marshmallow_pink.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide11{
background: url('../img/boy_bottom.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide12{
background: url('../img/boy_bottom.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide13{
background: url('../img/boy_bottom.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide14{
background: url('../img/boy_bottom.svg') 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#slide15{
background: url('../img/boy_bottom.svg') 50% 0 no-repeat fixed;
height: 350px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
.float{
  width: 900px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top:120px;
  left:100px;

  animation-name: float;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
  @keyframes float {
    0% {left:100px;}
    50% {left:0px;}
    100% {right:50px;}
  }
/*for the rotating things
.textcontainer {
  padding: 40px 0;
  text-align: center;
}
.particletext {
 text-align: center;
 font-size: 48px;
 position: relative;
}
.particletext.confetti > .particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: confetti 3.2s ease-in-out infinite;
            animation: confetti 3.2s ease-in-out infinite;
  }
.particletext.confetti > .particle.c1 {
background-image: url("../img/crown.png");
  }
.particletext.confetti > .particle.c2 {
    background-color: rgba(156, 39, 176, 0.5);
  }
  @keyframes confetti {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(0deg);
            transform: translateX(100%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    -webkit-transform: translateX(-4000%) rotate(270deg);
            transform: translateX(-4000%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(4000%) rotate(1440deg);
            transform: translateX(4000%) rotate(1440deg);
  }
    100% {
    opacity: 1;
    -webkit-transform: translateX(0%) rotate(0deg);
            transform: translateX(0%) rotate(0deg);
  }
}
.particletext >i{display:inline-block; position:relative; z-index:1000; top:300px;
}*/

/*--copyright--*/
#copyright {color: #fff; font-family:"Wellfleet"; font-size: 12px; margin-top: 110px; text-align: left; }
#copyright a { text-decoration: none; color: #fff; }

/*--THINGS THAT MOVES--*/
